@import '~antd/dist/antd.css';
@font-face {
  font-family: 'OCRAStd';
  src: url('../../fonts/OCRAStd.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/OCRAStd.woff') format('woff'),
    url('../../fonts/OCRAStd.ttf')  format('truetype'),
    url('../../fonts/OCRAStd.svg#OCRAStd') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 2;
}

.header {
  padding: 0 16px;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  text-align: right;
}

.content {
  margin-top: 64px;
  min-height: 100vh;
  padding: 16px 8px;
}

.card {
  margin-bottom: 16px;
}

.card-content-wrapper {
  min-height: 70vh;
}

.steps-content {
  margin-top: 16px;
  padding-bottom: 4px;
}

.steps-action::after {
  content: "";
  display: table;
  clear: both;
}

.win-bet {
  color: green;
  font-size: 16px;
}

.credit-card {
  padding: 40px 0 20px;
}

.credit-card-input {
  background-color: #40a9ff;
  color: #fff;
  font-family: 'OCRAStd';
  text-align: center;
  width: 100%;
}

.loader-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  font-size: 3rem;
}

.button-win {
  background-color: #f6ffed;
  border-color: #b7eb8f;
  color: #52c41a;
}

.button-win:hover {
  background-color: #52c41a;
  border-color: #b7eb8f;
}

.ant-btn-group .ant-btn-primary.button-win:last-child:not(:first-child),
.ant-btn-group .ant-btn-primary.button-win + .ant-btn-primary {
  border-left-color: #b7eb8f;
}

.button-lose {
  background-color: #fff1f0;
  border-color: #ffa39e;
  color: #f5222d;
}

.button-lose:hover {
  background-color: #f5222d;
  border-color: #ffa39e;
}

.ant-btn-group .ant-btn-primary.button-lose:first-child:not(:last-child) {
  border-right-color: #ffa39e;
}

@media (min-width: 576px) {
  .credit-card {
    background-color: #1890ff;
    border-radius: 20px;
    height: 295px;
    padding: 40px;
  }

  .credit-card-input {
    font-size: 26px;
  }

  .win-bet {
    text-align: right;
  }
}

@media (min-width: 769px) {
  .header {
    display: none;
  }

  .content {
    margin-top: 0;
    margin-left: 200px;
  }

  .steps-content {
    min-height: 300px;
  }
}