@import '~antd/dist/antd.css';
@font-face {
  font-family: 'OCRAStd';
  src: url('../fonts/OCRAStd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OCRAStd.woff') format('woff'),
    url('../fonts/OCRAStd.ttf')  format('truetype'),
    url('../fonts/OCRAStd.svg#OCRAStd') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 2;
}

.header {
  padding: 0 16px;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  text-align: right;
}

.content {
  margin-top: 64px;
  min-height: 100vh;
  padding: 16px 8px;
}

.card {
  margin-bottom: 16px;
}

.steps-content {
  margin-top: 16px;
  padding-bottom: 4px;
}

.steps-action::after {
  content: "";
  display: table;
  clear: both;
}

.win-bet {
  color: green;
  font-size: 16px;
}

.credit-card {
  background-color: #1890ff;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 295px;
  padding: 40px;
}

.credit-card-input {
  background-color: #40a9ff;
  color: #fff;
  font-family: 'OCRAStd';
  font-size: 26px;
  text-align: center;
  width: 100%;
}

@media (min-width: 769px) {
  .header {
    display: none;
  }

  .content {
    margin-top: 0;
    margin-left: 200px;
  }

  .steps-content {
    min-height: 300px;
  }
  
  .win-bet {
    text-align: right;
  }
}