@import '~antd/dist/antd.css';

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 2;
}

.header {
  padding: 0 16px;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  text-align: right;
}

.content {
  margin-top: 64px;
  min-height: 100vh;
  padding: 16px 8px;
}

.card {
  margin-bottom: 16px;
}

.steps-content {
  margin-top: 16px;
}

@media (min-width: 769px) {
  .header {
    display: none;
  }

  .content {
    margin-top: 0;
    margin-left: 200px;
  }
}